body, html {scroll-behavior:smooth;}
/* 공통 */
.profile, .project > div {
    max-width:1610px; margin:0 auto;
}
.project > div {margin:0 auto 300px;}
h1 {
    font-family: "Russo One", sans-serif;
    font-size:5rem; font-weight:400;
    letter-spacing:2px;
    text-align:center;
    text-transform:capitalize;
    margin-bottom:80px;
}
/* 0. 고정메뉴 */
nav {
    position:fixed; z-index:999;
    right:50px; bottom:400px;
}
nav::after {
    content:''; display:inline-block;
    width:1.5px; height:145px;
    background-color:#FFF;
    position:absolute; top:18px; right:-20px;
}
nav a {
    display:block; text-align:right;
    padding:10px 0; text-shadow:0 0 5px rgba(73, 50, 134, .3);
}
.bg {
    background:url(../images/bg.jpg) center;
    background-size:cover;
    padding-bottom:250px;
}
/* 1. intro */
.intro {height:100vh;}
.intro .year {
    padding:30px 0 0 90px; font-size:2.5rem;
    font-family:"Russo One", sans-serif;
}
.intro .center {text-align:center; padding:200px 0 0;}
.intro .center h1 {width:850px; margin:0 auto;}
.intro .center h1 img {width:100%;}
.intro .center .intro_text {font-size:1.5rem; font-weight:600; text-shadow:0 0 10px rgba(38, 28, 119, 0.2);}
.intro .center .name {
    font-size:1.5rem; text-shadow:0 0 10px rgba(38, 28, 119, 0.3);
}
.intro .center .info {font-size:1.2rem; font-weight:500;}

/* 2. profile */
.profile {
    display:flex; justify-content:center;
    background-color:rgba(255, 255, 255, .7);
    padding:80px 0; border-radius:30px;
    height:max-content;
    width:100%;
}
.profile .photo {margin-right:100px;}
.profile .photo .img {
    width:250px; height:250px;
    overflow:hidden; border-radius:200px;
    margin-bottom:30px;
}
.profile .photo .img img {width:100%;}
.profile .photo p:last-of-type {
    width:238px; text-align:center; color:#333;
    letter-spacing:-.2px;
}
.profile .txt {
    /* width:calc(100% - 210px); */
    display:grid;
    grid-template-areas:
    'a b'
    'c c';
}
.profile .txt .list:nth-child(1) {grid-area:a; margin-right:100px;}
.profile .txt .list:nth-child(2) {grid-area:b;}
.profile .txt .list:nth-child(3) {grid-area:c;}
.profile .txt .list {}
.profile .txt .list * {color:#222;}
.profile .txt .list h2 {
    font-weight:500; font-size:1.5rem;
    margin-bottom:24px; display: inline-block;
}
.profile .txt .list ul {}
.profile .txt .list ul li {display:flex; margin-bottom:4px;}
.profile .txt .list:nth-child(2) ul li:last-of-type {margin:0;}
.profile .txt .list ul li p:first-of-type {margin-right:20px; letter-spacing:-.2px; font-weight:500;}
.profile .txt .list:nth-of-type(1) ul li p:first-of-type {width:60px;}
.profile .txt .list:nth-of-type(2) ul li p:first-of-type {width:135px;}
.profile .txt .list:last-of-type {margin-top:40px;}
.profile .txt .list:last-of-type ul {display:flex; max-width:1008px; flex-flow: row wrap; justify-content:start;}
.profile .txt .list:last-of-type ul li {display:block;  margin-bottom:20px; text-align:center;}
.profile .txt .list:last-of-type ul li p {width:calc((1008px / 7) - 32px);}
.profile .txt .list:last-of-type ul li p:last-of-type {color:#525252;}

/* 3. 프로젝트 */
.project {
    padding:50px 0;
    background:linear-gradient(180deg, #666FF2, #8B63E2);
}
/* 3-1. 웹 디자인 */
.project .web {position:relative; background-color:#FFF; max-width:1258px; padding:100px 90px; border-radius:30px;}
.project .web .swiper {}
.project .web .swiper-slide {display:flex; justify-content:center; align-items:center;}
.project .web .swiper-slide .thum {width:653px;}
.project .web .swiper-slide .thum img {width:100%;}
.project .web .swiper-slide .web_info {width:395px; margin-left:30px;}
.project .web .swiper-slide .web_info h3 {font-weight:500; color: #222; font-size:1.438rem; margin-bottom:16px;}
.project .web .swiper-slide .web_info ul li {margin-top:14px;}
.project .web .swiper-slide .web_info ul li p:first-of-type {font-weight:500; color:#222;}
.project .web .swiper-slide .web_info ul li p:last-of-type {color:#333; font-size:0.938rem; letter-spacing:-.2px;}
.project .web .swiper-slide .web_info .link {margin-top:45px;}
.project .web .swiper-slide .web_info .link a {
    padding:10px 20px; background-color:rgba(34, 34, 34, 0.8); color:#F9F9F9;
    margin-right:10px; border-radius:5px;
}
.project .web div[class^=swiper-button] {color:#636363; transform:scale(0.7);}
/* 3-2. 앱 디자인 */
.project .app {
    background-color:#FFF; display:flex; max-width:1920px;
    justify-content:center; align-items: center; padding:100px 0;
}
.project .app .thum {width:653px;}
.project .app .thum img {width:100%;}
.project .app .app_info {width:574px; margin-left:50px;}
.project .app .app_info > p {color: #333;}
.project .app .app_info h3 {font-weight:500; color: #222; font-size:1.438rem;}
.project .app .app_info ul {}
.project .app .app_info ul li {margin-top:14px; color:#222; font-weight:500;}
.project .app .app_info ul li p:first-of-type {font-weight:500; color:#222;}
.project .app .app_info ul li p:last-of-type {color:#333; letter-spacing:-.2px; font-size:0.938rem;}
.project .app .app_info .link {margin-top:45px;}
.project .app .app_info .link a {
    padding:10px 20px; background-color:rgba(34, 34, 34, 0.8); color:#F9F9F9;
    margin-right:10px; border-radius:5px;
}
/* 3-3. sns 디자인 */
.project .sns {max-width:1920px; padding:0 20px;}
.project .sns .swiper-wrapper {transition-timing-function:linear;} /* 일정속도 */
.project .sns .swiper-slide {align-self:center;} /* flex 내장 */
.project .sns .swiper-slide img {width:100%;}
/* 3-4 카드뉴스 디자인 */
.project .cardnews {}
.project .cardnews .p {}
.project .cardnews .card_g {display:flex; overflow: hidden; justify-content:space-between;}
.project .cardnews .card_g a {width:100%; margin-right:10px; height:398px; position: relative;}
.project .cardnews .card_g a::after {
    content:''; display:block;
    height:100px; width:100%; background:linear-gradient(360deg, #7E67E7, transparent);
    position:absolute; left:0; bottom:0; z-index:999;
}
.project .cardnews .card_g a:last-of-type {margin-right:0;}
.project .cardnews .card_g a img {width:100%;}
.big_card {
    position:fixed; left:0; top:0; z-index:999;
    width:100%; height:100vh;
    background-color:rgba(0, 0, 0, 0.6);
}
.big_card .img {
    max-width:50vw; margin:30px auto;
    height:90vh; overflow-y:auto; overflow-x:hidden;
}
.big_card .img img {width:100%;}
/* 스크롤바 꾸미기 */
.big_card .img::-webkit-scrollbar {
    background-color:#222;
    width:6px; height:10px;
}
.big_card .img::-webkit-scrollbar-thumb {
    background-color:#5be071;
}

/* 3-5. 배너 */
/* .project .banner {display:flex; flex-flow:row wrap;}
.project .banner p {width:calc(50% - 5px);}
.project .banner p:nth-child(odd) {margin-right:5px;}
.project .banner p img {width:100%;} */

/* 3-6. 상세페이지 */
.project .detail {}
.project .detail .swiper {height:600px;} /* overflow:hidden 내장 */
.project .detail .swiper .swiper-slide a {
    position: relative;
    display:block; height:600px;
}
.project .detail .swiper .swiper-slide a::after {
    content:''; display:block;
    height:100px; width:100%; background:linear-gradient(360deg, #8565E4, transparent);
    position:absolute; left:0; bottom:0; z-index:999;
}
.project .detail .swiper .swiper-slide img {width:100%;}

/* contact */
.project .contact {
    display:flex; flex-flow:row wrap;
    justify-content:center; align-items:center;
}
.project .contact h1 {font-size:4.375rem; margin:0 50px 0 0;}
.project p {display:flex; align-items: center;}
.project p img {width:45px;}
.project p a {margin-left:5px; font-size:1.875rem; font-weight:500;}

/* 아웃트로 */
.project .outro {
    /* width:calc(100% - 210px); */
    text-align: center;
    display:grid;
    width:769px;
    grid-template-areas:
    'a c'
    'b c';
}
.project .outro p:nth-child(1) {
    grid-area:a; font-size:3.125rem; font-family:"Russo One", sans-serif;
}
.project .outro p:nth-child(2) {
    grid-area:b; font-size:1.5rem; display:block;
}
.project .outro p:nth-child(3) {
    grid-area:c; margin-left:50px; width:107px;
}
.project .outro p:nth-child(3) img {width:100%;}

/* 상세 팝업 */
.big_bg {
    position:fixed; left:0; top:0; z-index:999;
    width:100%; height:100vh;
    background-color:rgba(0, 0, 0, 0.6);
}
.big_bg .img {
    max-width:50vw; margin:30px auto;
    height:90vh; overflow-y:auto; overflow-x:hidden;
}
.big_bg .img img {width:100%;}
/* 스크롤바 꾸미기 */
.big_bg .img::-webkit-scrollbar {
    background-color:#333;
    width:6px; height:10px;
}
.big_bg .img::-webkit-scrollbar-thumb {
    background-color:#51eebf;
}
/* 반응형 웹 1200, 800,600 */
@media screen and (max-width:1610px){
    h1 {font-size:8rem;}
}
@media screen and (max-width:1000px){
    .intro .year {padding:30px 0 0 20px;}
    h1 {font-size:5rem;}
    .profile {flex-flow:column; padding:30px;}
    .profile .photo {background-color:lime; margin:0 auto 20px;}
    .profile .txt {
        grid-template-areas:
        'a'
        'b'
        'c';
    }
    .txt .list p {font-size:.875rem;}
    .txt .list > h2 {
        font-size:1.25rem; margin-top:20px;
        background-color:red;
    }
}
@media screen and (max-width:700px){
    .intro .year {padding:30px 0 0 16px;}
    .center h1 {width:100%;}
    .center h1 img {width:100%; border:2px solid red;}
    h1 {font-size:3rem;}
    .profile {padding:30px;}
    .profile .photo {display:none;}
    .profile .txt {width:100%;}
    .project .app {flex-flow:column;}
    .project .web .swiper-slide {
        flex-flow:column;}
}